# Prog6280c: Video Game Sales

In [1]:
%pip install pandas seaborn matplotlib -q
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

[notice] A new release of pip is available: 24.3.1 -> 25.0.1
[notice] To update, run: python -m pip install --upgrade pip
Note: you may need to restart the kernel to use updated packages.

In [2]:
# Read dataset into dataframe
df = pd.read_csv('../data/video_game_sales.csv')
df.columns = df.columns.str.strip() # Get rid of trailing spaces in column names
df

,index,Rank,Game Title,Platform,Year,Genre,Publisher,North America,Europe,Japan,Rest of World,Global,Review
0,0,1,Wii Sports,Wii,2006.0,Sports,Nintendo,40.43,28.39,3.77,8.54,81.12,76.28
1,1,2,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24,91.00
2,2,3,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,14.50,12.22,3.63,3.21,33.55,82.07
3,3,4,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,14.82,10.51,3.18,3.01,31.52,82.65
4,4,5,Tetris,GB,1989.0,Puzzle,Nintendo,23.20,2.26,4.22,0.58,30.26,88.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1902,1902,1903,Lizzie McGuire 2: Lizzie Diaries,GBA,2004.0,Action,Disney Interactive Studios,0.60,0.22,0.00,0.01,0.83,55.00
1903,1903,1904,Xenoblade Chronicles,Wii,2010.0,Role-Playing,Nintendo,0.39,0.22,0.16,0.07,0.83,91.74
1904,1904,1905,SingStar Abba,PS3,2008.0,Misc,Sony Computer Entertainment,0.25,0.44,0.00,0.14,0.83,73.00
1905,1905,1906,FIFA Soccer World Championship,PS2,2000.0,Sports,Electronic Arts,0.27,0.21,0.28,0.07,0.83,73.00
1906,1906,1907,WWE SmackDown vs. Raw 2011,X360,2010.0,Fighting,THQ,0.42,0.32,0.00,0.09,0.83,82.00

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1907 entries, 0 to 1906
Data columns (total 13 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   index          1907 non-null   int64
 1   Rank           1907 non-null   int64
 2   Game Title     1907 non-null   object
 3   Platform       1907 non-null   object
 4   Year           1878 non-null   float64
 5   Genre          1907 non-null   object
 6   Publisher      1905 non-null   object
 7   North America  1907 non-null   float64
 8   Europe         1907 non-null   float64
 9   Japan          1907 non-null   float64
 10  Rest of World  1907 non-null   float64
 11  Global         1907 non-null   float64
 12  Review         1907 non-null   float64
dtypes: float64(7), int64(2), object(4)
memory usage: 193.8+ KB

In [4]:
df.describe()

,index,Rank,Year,North America,Europe,Japan,Rest of World,Global,Review
count,1907.0000,1907.0000,1878.000000,1907.000000,1907.000000,1907.000000,1907.000000,1907.000000,1907.000000
mean,953.0000,954.0000,2003.766773,1.258789,0.706675,0.317493,0.206471,2.489240,79.038977
std,550.6478,550.6478,5.895369,1.956560,1.148904,0.724945,0.343093,3.563159,10.616899
min,0.0000,1.0000,1983.000000,0.000000,0.000000,0.000000,0.000000,0.830000,30.500000
25%,476.5000,477.5000,2000.000000,0.510000,0.230000,0.000000,0.060000,1.110000,74.000000
50%,953.0000,954.0000,2005.000000,0.810000,0.440000,0.020000,0.130000,1.530000,81.000000
75%,1429.5000,1430.5000,2008.000000,1.375000,0.810000,0.300000,0.220000,2.540000,86.230000
max,1906.0000,1907.0000,2012.000000,40.430000,28.390000,7.200000,8.540000,81.120000,97.000000

## Task 1: Sales Analysis by Region

In [23]:
naTotal = df['North America'].sum
euTotal = df['Europe'].sum
jaTotal = df['Japan'].sum
woTotal = df['Rest of World'].sum
sales_by_region = df.groupby('Global')[[euTotal, naTotal, jaTotal, woTotal]].mean()
plt.figure(figsize=(10,6))
sales_by_region.plot(kind='barh')
plt.title('Total Sales By Region')
plt.xlabel('Region')
plt.ylabel('Sales (Millions)')
plt.show()

KeyError: 'Columns not found: <bound method Series.sum of 0       28.39\n1        3.58\n2       12.22\n3       10.51\n4        2.26\n        ...  \n1902     0.22\n1903     0.22\n1904     0.44\n1905     0.21\n1906     0.32\nName: Europe, Length: 1907, dtype: float64>, <bound method Series.sum of 0       40.43\n1       29.08\n2       14.50\n3       14.82\n4       23.20\n        ...  \n1902     0.60\n1903     0.39\n1904     0.25\n1905     0.27\n1906     0.42\nName: North America, Length: 1907, dtype: float64>, <bound method Series.sum of 0       8.54\n1       0.77\n2       3.21\n3       3.01\n4       0.58\n        ... \n1902    0.01\n1903    0.07\n1904    0.14\n1905    0.07\n1906    0.09\nName: Rest of World, Length: 1907, dtype: float64>, <bound method Series.sum of 0       3.77\n1       6.81\n2       3.63\n3       3.18\n4       4.22\n        ... \n1902    0.00\n1903    0.16\n1904    0.00\n1905    0.28\n1906    0.00\nName: Japan, Length: 1907, dtype: float64>'